{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * plugin-license-manager plugin for Craft CMS 3.x
 *
 * plugin-license-manager index.twig
 *
 * @author    Kffein
 * @copyright Copyright (c) 2018 Kffein
 * @link      kffein.com
 * @package   Pluginlicensemanager
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set docsUrl = "???" %}

{% set title = "Plugin license manager" %}

{% set pluginCpUrl = url('plugin-license-manager') %}


{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('plugin-license-manager') }}</a>
    </div>
{% endset %}

{% set content %}

    {% set pluginErrors = craft.pluginlicensemanager.errors %}
    {% set unregisteredPlugins = craft.pluginlicensemanager.unregisteredPlugins %}
    {% set noApiLicensePlugins = craft.pluginlicensemanager.pluginsHandleWithoutApiResult %}
    {% set settings = craft.pluginlicensemanager.settings %}
    {% set requestPostPluginsHandle = craft.request.getPost('pluginsHandle') ?? [] %}

    {% if pluginErrors %}
        {% switch pluginErrors %}
            {% case "Invalid Credentials" %}
               {{'index__errors__invalidCredential'|t('plugin-license-manager'|raw)}}
        {% endswitch %}
       

    {% else %}

        <h2>{{'index__title'|t('plugin-license-manager')}}</h2>
        <p class="textline"></p>

        {% if unregisteredPlugins|length or noApiLicensePlugins|length %}

            <form method="post" data-saveshortcut data-confirm-unload action="{{ actionUrl('plugin-license-manager/default/generate') }}">
                {{ csrfInput() }}
                {{ redirectInput('plugin-license-manager') }}

                {{ forms.textField({
                    label: 'index__form__email__label'|t('plugin-license-manager'),
                    instructions: 'index__form__email__desc'|t('plugin-license-manager'),
                    id: 'email',
                    name: 'email',
                    value: craft.request.getPost('email'),
                    required: true
                }) }}

                <hr />


                {% if unregisteredPlugins|length %}

                    <h3>{{'index__form__api__title'|t('plugin-license-manager')}}</h3>

                    {% for plugin in unregisteredPlugins %}
                        {% set formName = 'pluginsHandle[' ~ plugin.handle ~']' %}
                        {% set isSwitchOn = requestPostPluginsHandle is not empty and requestPostPluginsHandle[plugin.handle] and requestPostPluginsHandle[plugin.handle] == '1' %}
                        {{ forms.lightswitchField({
                            label: plugin.name,
                            id: plugin.handle,
                            name: formName,
                            on: isSwitchOn,
                        }) }}
                    {% endfor %}

                    <hr />

                {% endif %}

                
                <h3>{{'index__form__composer__title'|t('plugin-license-manager')}} {{ settings.username }}</h3>
                <p><em>{{'index__form__composer__subtitle'|t('plugin-license-manager')|raw}}</em></p>

                {% for pluginHandle in noApiLicensePlugins %}
                    {% set formName = 'pluginsHandle[' ~ pluginHandle ~']' %}
                    {% set isSwitchOn = requestPostPluginsHandle is not empty and requestPostPluginsHandle[pluginHandle] and requestPostPluginsHandle[pluginHandle] == '1' %}
                    {{ forms.lightswitchField({
                        label: pluginHandle,
                        id: pluginHandle,
                        name: formName,
                        on: isSwitchOn
                    }) }}
                {% endfor %}

                <input type="submit" class="btn submit" value="{{'index__form__button__label'|t('plugin-license-manager')}}">

            </form>

        {% else %}

            {{'index__form__button__label'|t('plugin-license-manager')}}

        {% endif %}


    {% endif %}

    


{% endset %}
