{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * plugin-license-manager plugin for Craft CMS 3.x
 *
 * plugin-license-manager index.twig
 *
 * @author    Kffein
 * @copyright Copyright (c) 2018 Kffein
 * @link      kffein.com
 * @package   Pluginlicensemanager
 * @since     1.0.0
 */
#}


{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("kffein\\pluginlicensemanager\\assetbundles\\pluginlicensemanager\\PluginlicensemanagerAsset") %}

{% set docsUrl = "???" %}

{% set title = craft.pluginlicensemanager.pluginName %}

{% set pluginCpUrl = url('plugin-license-manager') %}


{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('plugin-license-manager') }}</a>
    </div>
{% endset %}

{% set content %}

    <div class="pluginlicensemanager-plugin">


        {% set pluginErrors = craft.pluginlicensemanager.errors %}
        {% set unregisteredPlugins = craft.pluginlicensemanager.unregisteredPlugins %}
        {% set settings = craft.pluginlicensemanager.settings %}
        {% set requestPostPluginsHandle = craft.request.getPost('pluginsHandle') ?? [] %}
        {# {% set developerInfo = craft.pluginlicensemanager.developerInfo %} #}

        {% if pluginErrors %}
            {% switch pluginErrors %}
                {% case "Invalid Credentials" %}
                {{'index__errors__invalidCredential'|t('plugin-license-manager'|raw)}}
            {% endswitch %}
        

        {% else %}

            <h2 class="subtitle">{{'index__title'|t('plugin-license-manager')}}</h2>


            {% if unregisteredPlugins|length %}

                <form method="post" data-saveshortcut data-confirm-unload action="{{ actionUrl('plugin-license-manager/default/generate') }}">
                    {{ csrfInput() }}
                    {{ redirectInput('plugin-license-manager') }}

                    <hr />

                    {% for plugin in unregisteredPlugins %}
                        {% set lightswitchFormName = 'pluginsHandle[' ~ plugin.handle ~']' %}
                        {% set editionFormName = 'edition[' ~ plugin.handle ~']' %}
                        {% set isSwitchOn = requestPostPluginsHandle is not empty and requestPostPluginsHandle[plugin.handle] and requestPostPluginsHandle[plugin.handle] == '1' %}

                        {% set editionOptions = {} %}
                        {% for edition in plugin.editions %}
                            {% set editionOptions = editionOptions|merge([{
                                'label': edition.name,
                                'value': edition.handle
                            }]) %}
                        {% endfor %}                       
                        
                        <div class="plugin-info">
                            
                            <div class="plugin-info-icon">
                                <img src="{{ plugin.iconUrl }}" class="plugin-icon" />
                            </div>

                            <div class="plugin-info-content">
                                <p><strong>{{ plugin.name }}</strong></p>
                                <p>{{ plugin.handle }}</p>
                                <p>{{ plugin.version }}</p>
                                <p class="short-description"><em>{{ plugin.shortDescription }}</em></p>
                            </div>

                            <div class="plugin-info-editions">
                                {{ forms.selectField({
                                    id: "edition",
                                    name: editionFormName,
                                    label: "Editions",
                                    required: true,
                                    options: editionOptions,
                                    value: editionOptions[0].value
                                }) }}
                            </div>

                            <div class="plugin-info-lightswitch">
                                {{ forms.lightswitchField({
                                    id: plugin.handle,
                                    name: lightswitchFormName,
                                    on: isSwitchOn,
                                }) }}
                            </div>

                            
                        </div>

                        <hr />

                    {% endfor %}

                    <input type="submit" class="btn submit" value="{{'index__form__button__label'|t('plugin-license-manager')}}">
                    

                </form>

            {% else %}

                <p>{{'index__allpluginactivated'|t('plugin-license-manager')}}</p>

            {% endif %}


        {% endif %}

    </div>

    


{% endset %}
